<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.PA.SpringJdbc"></context:component-scan>

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- <property name="location" value="app.properties"/> -->
		<!-- For Reading single file -->

		<!-- For reading multiple files -->
		<property name="location" value="connection.properties" />
	</bean>



	<bean class="org.Springframework.jdbc.core.JdbcTemplate">
		<property name="datasource" ref="ds"></property>
	</bean>

	<bean class="org.Springframework.jdbc.datasource.DriverManagerDataSource"
		id="ds">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${database.url}" />
		<property name="username" value="${database.username}" />
		<property name="password" value="${database.password}" />
	</bean>
</beans>